* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Hind Madurai";
  src: url("../fonts/Hind_Madurai/HindMadurai-Regular.ttf");
}
@font-face {
  font-family: "Fredoka one";
  src: url("../fonts/FredokaOne-Regular.ttf");
}

html,body{
  overflow-x: hidden;
}
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
}
:root {
  --primary-color--pink: #d23166;
  --secondary--color--bg: #fbf0f4;
  --text--opacity--color:#736767;
  --footer-bg-color:#0a0808;
}

.container {
  max-width: 1125px;
  width: 100%;
  margin: 0 auto;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 74px;
  width: 100%;
}
nav img {
  width: 79px;
  height: 79px;
}
.navbar-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px;
}

.navbar-links a {
  color: var(--text--opacity--color);
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  outline: none;
}
.navbar-links a:hover {
  color: var(--primary-color--pink);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 550;
  line-height: normal;
}

.buy-now {
  width: 165px;
  height: 49px;
  border-radius: 5px;
  background: var(--primary-color--pink);
  color: #fafafa;
  font-family: "Hind Madurai", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  cursor: pointer;
}
.buy-now:hover {
  background-color: #fafafa;
  border: 2px solid  var(--primary-color--pink);
  color:var(--primary-color--pink);
}
.buy-now-2 {
  margin-top: 50px;
}

.hero {
  background: var(--secondary--color--bg);
  height: 862px;
}

.hero-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 862px;
  width: 1125px;
  margin: 0 auto;
}

.hero-bg {
  position: relative;
  right: 200px;
}
.hero-text {
  max-width: 665px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.hero-text h3 {
  color: #0f0101;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.4px;
}
.hero-text h1 {
  color: #0f0101;
  font-family: "Fredoka one", sans-serif;
  font-size: 57.33px;
  font-style: normal;
  font-weight: 600;
  line-height: 120.5%; /* 69.083px */
  width: 665px;
  height: 130px;
}
.hero-text span {
  opacity: 0.9;
  color: var(--primary-color--pink);
  font-family: "Fredoka one", sans-serif;
  font-size: 57.33px;
  font-style: normal;
  font-weight: 600;
  line-height: 120.5%;
}
.hero-text h2 {
  color: var(--text--opacity--color);
  font-family: "Hind Madurai", sans-serif;

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
  max-width: 523px;
  width: 100%;
  height: 78px;
}

.delivery {
  height: 200px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 26px;
  margin-bottom: 102px;
  -webkit-column-gap: 39px;
  -moz-column-gap: 39px;
  column-gap: 39px;
}

.delivery-card {
  border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, 0.03);
  /* background: #e5aaaa; */
  width: 250px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 20px 20px 50px 0px rgba(0, 0, 0, 0.03);
  box-shadow: 20px 20px 50px 0px rgba(0, 0, 0, 0.03);
}
.delivery-card:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
.delivery-1 {
  width: 51.002px;
  height: 43.35px;
}
.delivery-2 {
  width: 32px;
  height: 42.006px;
}

.delivery-3 {
  width: 44px;
  height: 44px;
}

.delivery-4 {
  width: 54px;
  height: 54px;
}

.delivery-card h2 {
  color: #000;
  font-family: "Hind Madurai", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 24px;
  margin-bottom: 9px;
}
.delivery-card h3 {
  text-align: center;
  color: var(--text--opacity--color);
  font-family: "Hind Madurai", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 198px;
  height: 35px;
  
}

.details {
  height: 544.495px;
  background: var(--secondary--color--bg);
  margin-bottom: 137px;
}

.details-main {
  max-width: 1125px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.details-text h2 {
  width: 349px;
  height: 98.27px;
  color: #150101;
  font-family: "Hind Madurai", sans-serif;
  font-size: 44.2px;
  font-style: normal;
  font-weight: 600;
  line-height: 110.5%; /* 48.841px */
}
.details-text {
  width: 442px;
  height: 256.705px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 146px;
}

.details-text h3 {
  width: 442px;
  height: 58.16px;
  color: var(--text--opacity--color);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-top: 16px;
}

.see-details {
  margin-top: 35px;
  width: 165px;
  height: 49.135px;
  border: none;
  border-radius: 5px;
  background: var(--primary-color--pink);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fafafa;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}
.see-details:hover {
  background-color: #fafafa;
  border: 2px solid var(--primary-color--pink);
  color: var(--primary-color--pink);
}
.details-bg {
  margin-bottom: 40px;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.product h1 {
  color: #150101;

  font-size: 44.2px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-family: "Hind Madurai", sans-serif;
  text-align: center;
}
.product-nav {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 39px;
  -moz-column-gap: 39px;
  column-gap: 39px;
  margin-top: 64px;
  margin-bottom: 50px;
}
.product-nav a {
  text-decoration: none;
  outline: none;
  color: var(--text--opacity--color);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-bottom: 5px;
}
.product-nav li:hover a {
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-bottom: 3px solid var(--primary-color--pink);
}

.product-1,
.product-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-column-gap: 85px;
  -moz-column-gap: 85px;
  column-gap: 85px;
}
.product-1 img {
  width: 580px;
  height: 415px;
}

.product-1 h2,
.product-3 h2,
.product-2 h2 {
  color: #000;
  font-family: "Hind Madurai", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.product-1 p,
.product-3 p,
.product-2 p {
  width: 454px;
  height: 67px;
  color: var(--text--opacity--color);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-bottom: 34px;
  margin-top: 11px;
}

.product-1 h3,
.product-3 h3,
.product-2 h3 {
  color: #000;
  font-family: "Hind Madurai", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 10px;
}
.product-1 span,
.product-2-text span {
  font-family: "Hind Madurai", sans-serif;
  color: var(--text--opacity--color);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  -webkit-text-decoration-line: strikethrough;
  text-decoration-line: strikethrough;

}

.product-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* flex-direction: column; */
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.product-2-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: right;
  /* float: right; */
}
.product-2-text button {
  margin-left: 300px;
}

.feedbacks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 152px;
}
.feedbacks-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.feedbacks-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 21px;
  -moz-column-gap: 21px;
  column-gap: 21px;
}
.feedbacks-username {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 5px;
}
.feedbacks-username h2 {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.feedbacks-username h3 {
  color: #7e7e7e;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.feedbacks-text {
  width: 322px;
  height: 70px;
  margin-top: 50px;
  margin-bottom: 39px;
}
.feedbacks-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 27px;
  -moz-column-gap: 27px;
  column-gap: 27px;
}
.man {
  width: 35px;
  height: 35px;
}
.woman-1 {
  width: 59px;
  height: 58px;
}
.woman-2 {
  width: 57.812px;
  height: 57.812px;
}
.woman-3 {
  width: 35px;
  height: 35px;
}
.right-arrow {
  width: 14px;
  height: 14px;
}

.feedback-bg img {
  width: 564px;
  height: 442px;
}
.feedbacks-text h2 {
  color: #7e7e7e;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.feedbacks-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.download {
  height: 639px;
  background: var(--secondary--color--bg);
  margin-bottom: 144px;
}
.addtobag {
  margin-top: 59px;
  width: 305px;
  height: 627px;
}
.download-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* align-items: center; */
  -webkit-column-gap: 120px;
  -moz-column-gap: 120px;
  column-gap: 120px;
}
.download-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 90px;
}

.ordering {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 19px;
  margin-top: 29px;
}

.select-food,
.add-to-card,
.order-food {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
}
.select-food span,
.add-to-card span,
.order-food span {
  width: 30px;
  height: 30px;
  border-radius: 3px;
  background: #fff;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.select-food img,
.add-to-card img,
.order-food img {
  width: 15px;
  height: 15px;
}

.select-food h3,
.add-to-card h3,
.order-food h3 {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.download-title h2 {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 44.2px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 129px;
}
.download-title h3 {
  color: var(--text--opacity--color);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.18px;
  width: 607px;
  height: 60px;
  margin-top: 20px;
}
.download-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 41px;
  -webkit-column-gap: 7px;
  -moz-column-gap: 7px;
  column-gap: 7px;
}

.questions {
  height: 565px;
  width: 100%;
  /* margin-bottom: 77px; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.questions-box {
  width: 637px;
  height: 344px;
}

.questions-box h2 {
  color: #000;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 522px;
  height: 123px;
  margin-left: 42px;
  margin-bottom: 36px;
}

.phone {
  border-radius: 5px;
  border: 1px solid #ffa3a3;
  background: #fff;
  width: 303px;
  height: 74px;
  color: #6f6666;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 29px;
  padding-top: 29px;
  padding-left: 25px;
  outline: none;
}

.enter-question {
  height: 74px;
  width: 503px;
  border-radius: 5px;
  border: 1px solid #ffa3a3;
  background: #fff;
  padding-bottom: 29px;
  padding-top: 29px;
  padding-left: 25px;
  color: #6f6666;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  outline: none;
  text-decoration: none;
}

.send {
  width: 134px;
  height: 74px;
  border-radius: 5px;
  background: #d64374;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  outline: none;
}
.send:hover {
  background-color: #fafafa;
  border: 2px solid var(--primary-color--pink);
  color: var(--primary-color--pink);
}
.subscribe-us:hover {
  background-color: transparent;
  border: 2px solid var(--primary-color--pink);
  color: var(--primary-color--pink);
}

.question-type {
  width: 303px;
  height: 74px;
  border-radius: 5px;
  border: 1px solid #ffa3a3;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* padding-top: 29px;
  padding-bottom: 29px; */
  outline: none;
}

.question-type {
  color: #6f6666;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: center;
  padding: 0 25px 0 25px;
}

.first-line-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
}
.second-line-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 37px;
}

.footer {
  height: 544.495px;
  margin: 0 auto;
  background: var(--footer-bg-color);
  height: 381px;
}
.footer-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.footer-box-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 70px;
}
.footer-logo {
  width: 79px;
  height: 79px;
}

.footer-box-1 h3 {
  color: #b5b5b5;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 139.687%; /* 16.762px */
  letter-spacing: 0.12px;
  width: 207px;
  height: 47px;
  margin-top: 9px;
  margin-bottom: 25px;
}
.footer-box-1 h2 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 8px;
}
.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
}
.social-links img {
  width: 15px;
  height: 15px;
}
.social-links a {
  outline: none;
  text-decoration: none;
}
.footer-box-2 {
  margin-top: 143px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px;
}
.footer-box-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px;
  margin-top: 150px;
}

.footer-box-2 a {
  color: #b5b5b5;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  outline: none;
  text-decoration: none;
}
.footer-box-3 a {
  color: #b5b5b5;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  outline: none;
  text-decoration: none;
}
.footer-box-2 ul,
.footer-box-3 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 10px;
}
.footer-box-2 a:hover,
.footer-box-3 a:hover {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-box-4 {
  margin-top: 136px;
}
.footer-box-4 h2 {
  color: #fff;
  font-family: "Roboto", sans-serif;

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.newsletter-inputs {
  width: 388px;
  height: 55px;
  border-radius: 5px;
  border: 2px solid #d64374;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 13px;
  padding-left: 32px;
  outline: none;
}

.send-email {
  width: 263px;
  color: #b5b5b5;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  background-color: #000;
  outline: none;
}

.subscribe-us {
  border: none;
  width: 125px;
  border-radius: 5px 2px 2px 5px;
  background: var(--primary-color--pink);
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.payment-methods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
  -webkit-column-gap: 15px;
  -moz-column-gap: 15px;
  column-gap: 15px;
}

.paypal {
  width: 18.777px;
  height: 22px;
}
.mastercard {
  width: 33.846px;
  height: 20.308px;
}
.visacard {
  width: 47.383px;
  height: 14.828px;
}
